<div class="login-backg">
    <div class="filter-login">
        <div class="container">

            <h1 class="center beige">Log In</h1>

            <form action="/login" method='POST' class="login">
                {{>login}}

                <button type="submit" class="btn">Log In</button>

                {{#if errorMsg}}
                <div>
                    {{errorMsg}}
                </div>
                {{/if}}
            </form>
        </div>
    </div>
</div>