<div class="backg-signup">
    <div class="filter-login">
        <div class="container">
            <h1 class="center beige titlesign">Sign Up</h1>
            <form action="/signup" method='POST' class="signup">

                {{>login}}
                <br>
                <button type="submit" class="btn">Sign Up</button>
                <br>
                <a href="/signup/owner">Are you an owner?</a>
                {{#if errorMsg}}
                <div>
                    {{errorMsg}}
                </div>
                {{/if}}

            </form>
        </div>
    </div>
</div>