<div class="backg-signupowner backg">
    <div class="filter">
        <div class="container form">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-8 col-lg-6">

                    <form action="/signup/owner" method='POST'>
                        <h1 class="center formtitle beige">Sign Up</h1>

                        {{>login}}

                        <h5>Email</h5>
                        <input type="text" placeholder="email" name="email">

                        <h5>Telephone number</h5>
                        <input type="text" name="telephone">
                        <br>
                        <button type="submit" class="btn">Log In</button>

                        {{#if errorMsg}}
                        <div>
                            {{errorMsg}}
                        </div>
                        {{/if}}

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>