<div class="login-backg backg">
    <div class="filter">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <h1 class="center formtitle beige">Log In</h1>

                    <form action="/login" method='POST' class="login form">
                        {{>login}}
                        <button type="submit" class="btn">Log In</button>

                        {{#if errorMsg}}
                        <div>
                            <p style="margin-top: 10px;background:  color: white; padding: 3px; font-size: 1.5em;">
                                {{errorMsg}}
                            </p>
                        </div>
                        {{/if}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>