<div class="main-page backg">
    <div class="filter main">
        <div>
            <h1 class="title">Welcome to {{siteTitle}}</h1>
            <a href="/bars" class="btn btn-outline-light btn-index">Start browsing bars</a>
        </div>
    </div>
</div>