<div class="main-page backg">
    <div class="filter main">
        <div class="typewriter">
            <h1 class="title">Welcome to {{siteTitle}}</h1></div>
            <br>
            <a href="/bars" class="btn btn-outline-light btn-index">Start browsing bars</a>
    </div>
</div>