body {
  font-family: 'Montserrat', sans-serif;
}
.center{
  text-align: center;
}

.main-page {
  background: url("https://res.cloudinary.com/djqsmqs26/image/upload/v1606045413/Project-2/patrick-tomasso-GXXYkSwndP4-unsplash_gxlg5o.jpg") no-repeat center/cover;
  height: 100vh;
  text-align: center;
  z-index: -10
}

.filter-login{
  height: 100vh;
  background-color: rgba(89,49,40, 0.5);
  z-index: 10;

}
.filter {
  height: 100vh;
  background-color: rgba(89, 49, 40, 0.5);
  z-index: 10;

}


.filter> div{

  z-index: 20;
  padding-top: 15rem;
   color: white;

}


.filter a{
  font-size: 1.5em;
}
.navbar{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

#barsMap{
  height: 100vh;
  z-index: 1;
}
.wrapper{
  padding:40px;
}

#barMap{
  height: 500px;
  z-index: 10;

}
.image-square{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom:20px;
  border: 1px solid white;
  border-radius: 5px;
}
.row{
  margin:0
}
.details img {
  width: 400px;
  z-index: -1;
}
// .container{
//   padding-top: 30px;

// }
.barlist{
  margin-right: 20px;
}
.bar-list img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.bar-list p{
  background-color: rgba(89, 49, 40, 1);
  color:white;
  text-align:center;
  width: 150px;
  border-radius: 0px 0px 10px 10px;
  padding: 5px
}

.bar-detail h5{
  padding-top: 20px
}
.bar-detail img{
  height: 250px;
  object-fit: cover;
}
.bar-detail .heart{
  height:30px;
  width: 30px;
  background-color: pink;
   fill: black;
}
.user-profile{
  text-align: center;
}
.login{
  text-align: left;
  padding-top: 40px
}
.login .btn{
color:#0d2426;
background-color:#d8ccbc;
  width: 70%;
    max-width: 600px;

}
.beige{
  color:#d8ccbc;
  padding-top:30px
}
.login input{
  width:70%;
  max-width: 600px;
}
.login-backg{
  background-image: url('https://res.cloudinary.com/djqsmqs26/image/upload/v1606068394/Project-2/radovan-46Yad80Ynp4-unsplash_sgk4dz.jpg ');
  height: 100vh;
  background-repeat: no-repeat;
  background-position:center ; 
  background-size:cover;
  color:white
  
}
.backg-signup{
  background-image: url('https://res.cloudinary.com/djqsmqs26/image/upload/v1606069664/Project-2/adam-jaime-dmkmrNptMpw-unsplash_kyuc9b.jpg ');
  height: 100vh;
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
  color:white
}
.signup{
  text-align: right;
  padding-top:100px

}
.signup input {
  width: 70%;
  max-width: 500px;
}
.signup button{
    width: 70%;
    max-width: 500px;
color:#0d2426;
background-color:#d8ccbc;
}

.signup a{
  margin-top:20px;
  color:white
}
.titlesign{
  padding-top:60px
}
.back{
  float: right
}
.none{
  display:none
}

@media (max-width: 992px) {
  #barsMap {
display:none}
.bar-detail{
  text-align: center;
}
}
@media (max-width: 502px) {


  .bar-detail img {
    width: 300px;
  }
}

@media(min-width:992px){
  
  #barsMap{
    position:fixed;
  left:0%;
  top:0;
  }
  }
//   
// /* Color Theme Swatches in Hex */
// $Cocktail-close-up-in-a-bar-setting.-Blurred-people-in-the-background.-Selective-focus-on-the-icy-drink-and-glass.-1-hex: #F2E399;
// $Cocktail-close-up-in-a-bar-setting.-Blurred-people-in-the-background.-Selective-focus-on-the-icy-drink-and-glass.-2-hex: #D99923;
// $Cocktail-close-up-in-a-bar-setting.-Blurred-people-in-the-background.-Selective-focus-on-the-icy-drink-and-glass.-3-hex: #D9601A;
// $Cocktail-close-up-in-a-bar-setting.-Blurred-people-in-the-background.-Selective-focus-on-the-icy-drink-and-glass.-4-hex: #593128;
// $Cocktail-close-up-in-a-bar-setting.-Blurred-people-in-the-background.-Selective-focus-on-the-icy-drink-and-glass.-5-hex: #F24738;

// /* Color Theme Swatches in RGBA */
// $Cocktail-close-up-in-a-bar-setting.-Blurred-people-in-the-background.-Selective-focus-on-the-icy-drink-and-glass.-1-rgba: rgba(242,227,152, 1);
// $Cocktail-close-up-in-a-bar-setting.-Blurred-people-in-the-background.-Selective-focus-on-the-icy-drink-and-glass.-2-rgba: rgba(216,153,34, 1);
// $Cocktail-close-up-in-a-bar-setting.-Blurred-people-in-the-background.-Selective-focus-on-the-icy-drink-and-glass.-3-rgba: rgba(216,95,26, 1);
// $Cocktail-close-up-in-a-bar-setting.-Blurred-people-in-the-background.-Selective-focus-on-the-icy-drink-and-glass.-4-rgba: rgba(89,49,40, 1);
// $Cocktail-close-up-in-a-bar-setting.-Blurred-people-in-the-background.-Selective-focus-on-the-icy-drink-and-glass.-5-rgba: rgba(242,71,55, 1);

// /* Color Theme Swatches in HSLA */
// $Cocktail-close-up-in-a-bar-setting.-Blurred-people-in-the-background.-Selective-focus-on-the-icy-drink-and-glass.-1-hsla: hsla(50, 77, 77, 1);
// $Cocktail-close-up-in-a-bar-setting.-Blurred-people-in-the-background.-Selective-focus-on-the-icy-drink-and-glass.-2-hsla: hsla(39, 72, 49, 1);
// $Cocktail-close-up-in-a-bar-setting.-Blurred-people-in-the-background.-Selective-focus-on-the-icy-drink-and-glass.-3-hsla: hsla(22, 78, 47, 1);
// $Cocktail-close-up-in-a-bar-setting.-Blurred-people-in-the-background.-Selective-focus-on-the-icy-drink-and-glass.-4-hsla: hsla(11, 37, 25, 1);
// $Cocktail-close-up-in-a-bar-setting.-Blurred-people-in-the-background.-Selective-focus-on-the-icy-drink-and-glass.-5-hsla: hsla(5, 87, 58, 1);