<div class="container user-profile">
    <h2 class="welcome">Welcome {{user.username}}</h2>
    <a href="/bars" class="btn btn-dark" style="background-color: #593128; border-color: #593128">Browse bars</a>
    <hr>

    <h3 class="your">Your favorites</h3>
    <div class="row bar-list">
        
        {{#each user.favBars}}
        <div class="col-lg-4 col-md-3  col-sm-4 col-6  image-square">
            <a href='/bars/{{barid.id}}'>
                <img src="{{barid.image}}" alt="Bar photo">
                <p>{{barid.name}}</p>
            </a>
        </div>
        {{/each}}

    </div>
</div>