
<div class="wrapper">
    <div class="row ">
    
        <div class="col-lg-6 col-md-12 bar-list">
                    <h3 >Bars</h3>
                    <hr>
                    <div class="row">
                        {{#each bars}}
                        <div class="  col-lg-6 col-md-4  col-sm-6 image-square">
                          <a href='bars/{{id}}'><img src="{{image}}" alt="">
                        <h4 >{{name}}</h4></a></div>
                        {{/each}}
                    </div>
        </div>

        <div class="col-lg-6 col-md-12 ">
            <div id="barsMap"></div>
        </div>

    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/javascripts/bars-map.js"></script>
<script src="{{{myKey}}}"></script>